{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
<main style=" background: linear-gradient(to bottom right, #e8f5e9, #ffffff); margin: 20px;">
    <link rel="stylesheet" href="{% static '' %}">
    <br><a href="{% url 'createstock' %}" class="add-credit-btn"><button class="btn btn-success" style="color: gold;">Create Stock</button></a>
    <h1 style="text-align: center;">Stock Status</h1><br>
    <div class="table-container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name of Produce</th>
                    <th>Tonnage(kgs)</th>
                    <th>Branch</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock.Name_of_produce }}</td>
                    <td>{{ stock.Tonnage_in_kgs }}</td>
                    <td>{{ stock.Branch }}</td>
                    <td>
                        <a href="{% url 'stock_detail' stock.id %}">
                            <button class="btn btn-success" style="color: gold;">Check Out</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        {% if user.is_manager %}
        <a href="{% url 'manager' %}"><button class="btn btn-success">Back</button></a>
        {% endif %}
        {% if user.is_salesagent %}
        <a href="{% url 'salesagent' %}"><button class="btn btn-success">Previous</button></a>
        {% endif %}
    </div>
</main>
{% endblock %}