{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
<main style=" background: linear-gradient(to bottom right, #e8f5e9, #ffffff); margin: 20px;">
<br><br>
<link rel="stylesheet" href="{% static '' %}">
<div>
  {% if user.is_manager %}
  <a href="{% url 'allsales' %}"><button class="btn btn-success">Back</button></a>
  {% endif %}
  {% if user.is_salesagent %}
  <a href="{% url 'allsales' %}"><button class="btn btn-success">Previous</button></a>
  {% endif %}
</div>
    <h1 style="text-align: center;">Edit Credit Transaction</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name of Buyer</label>
            <input type="text" name="Name_of_buyer" value="{{ edit_credit.Name_of_buyer }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Nin</label>
            <input type="text" name="Nin" value="{{ edit_credit.Nin }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" name="Location" value="{{ edit_credit.Location }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Amount Due</label>
            <input type="text" name="Amount_due" value="{{ edit_credit.Amount_due }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Contact *</label>
            <input type="number" name="Contact" value="{{ edit_credit.Contact }}" class="form-control" min="0" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Sales Agent</label>
            <input type="text" name="Sales_agent_name" value="{{ edit_credit.Sales_agent_name }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Due Date</label>
            <input type="date" name="Due_date" value="{{ edit_credit.Due_date|date:'Y-m-d' }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Produce Name</label>
            <input type="text" name="Produce_name" value="{{ edit_credit.Produce_name }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Produce Type</label>
            <input type="text" name="Produce_type" value="{{ edit_credit.Produce_type }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Branch</label>
            <input type="text" name="Branch" value="{{ edit_credit.Branch }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Tonnage</label>
            <input type="text" name="Tonnage" value="{{ edit_credit.Tonnage }}" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-label">Dispatch Date</label>
            <input type="date" name="Date_of_dispatch" value="{{ edit_credit.Date_of_dispatch|date:'Y-m-d' }}" class="form-control">
          </div>

          <button type="submit" class="btn btn-success" style="color: gold;">Edit Credit Transaction</button>
    </form>
  
</main>
{% endblock %}