{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
<br>
<main style=" background: linear-gradient(to bottom right, #e8f5e9, #ffffff); margin: 20px;">
    <link rel="stylesheet" href="{% static 'receiptdetail.css' %}">
    <div>
        {% if user.is_manager or user.is_manager_2 %}
        <a href="{% url 'manager' %}"><button class="btn btn-success">Back</button></a>
        {% endif %}
        {% if user.is_salesagent or user.is_salesagent_2 %}
        <a href="{% url 'salesagent' %}"><button class="btn btn-success">Previous</button></a>
        {% endif %}
    </div>
    <div class="container my-4 d-flex justify-content-center">
        <div class="receipt-card shadow p-4 rounded-4 w-100" style="max-width: 400px;">
            <div class="mb-3 boreder-bottom pb-2">
                <h4>🧾 Customer: {{ receipt.Name_of_buyer|default:"N/A" }}</h4>
            </div>
            <p class="md-1 text-muted">Item: {{ receipt.Name_of_produce }}</p>
            <p class="md-1 text-muted">Amount: {{ receipt.Amount_paid }}</p>
            <p class="md-1 text-muted">Quantity: {{ receipt.Tonnage_in_kgs }}</p>
        <div class="total-section mb-3">
            <h4 class="text-dark fw-semibold">Total Price: <span class="text-success">UGX {{ receipt.get_amount_paid }}</span></h4>
            <h5 class="text-muted">Change: UGX {{ receipt.get_change }}</h5>
        </div>
        <p style="text-align: center;">Thank you.</p>
       
    </div>
</main>
{% endblock %}