{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
<main style=" background: linear-gradient(to bottom right, #e8f5e9, #ffffff); margin: 20px;">
    <br>
    <div>
        {% if user.is_manager or user.is_manager_2 %}
        <a href="{% url 'manager' %}"><button class="btn btn-success">Back</button></a>
        {% endif %}
        {% if user.is_salesagent or user.is_salesagent_2 %}
        <a href="{% url 'salesagent' %}"><button class="btn btn-success">Previous</button></a>
        {% endif %}
    </div>
<br><br>
    {% for sale in sales %}
        <div class="card" style=" background: linear-gradient(to bottom right, #e8f5e9, #ffffff);">
            <div class="card-body">
                <h3>
                    Customer: {{ sale.Name_of_buyer }}
                </h3>
                <h6>Item: {{ sale.Name_of_produce }}</h6>
                <h6>Amount: {{ sale.Amount_paid }}</h6>
                <h6>Quantity: {{ sale.Tonnage_in_kgs }}</h6>
                <h2>Total Price: UGX {{ sale.get_amount_paid }}</h2>
                <div style="flex: 1">
                    <h6 class="card-text">
                        Change Collected: UGX {{ sale.get_change }}
                    </h6>
                    
                    <a href="{% url 'receipt_detail' sale.id %}"><input type="submit" value="Final Receipt" class="btn btn-danger"></a>
                </div>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}