{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
    <main>
        <link rel="stylesheet" href="{% static '' %}">
        <div style="margin: 20px;">
            <a href="{% url 'sell_item' stock.id %}"><button class="btn btn-success" style="color: gold;">Sell Item</button></a>
            {% if user.is_manager or user.is_manager_2  %}
            <a href="{% url 'update_stock' stock.id %}"><button class="btn btn-success" style="color: gold;">Add Quantity</button></a>
            {% endif %}
        </div>
        <table border="1" style="width: 90%; margin: 40px;" class="table table-bordered table-striped">
            <thead style="color: gold;">
                <tr>
                    <th>Name of produce</th>
                    <th>Quantity</th>
                    <th>Branch</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ stock.Name_of_produce }}</td>
                    <td>{{ stock.Tonnage_in_kgs }}</td>
                    <td>{{ stock.Branch }}</td>
                    <td>{{ stock.Unit_price }}</td>
                </tr>
            </tbody>
        </table><br>
        <div>
            {% if user.is_manager or user.is_manager_2 %}
            <a href="{% url 'manager' %}" style="margin: 20px;"><button class="btn btn-success">Back</button></a>
            {% endif %}
            {% if user.is_salesagent or user.is_salesagent_2 %}
            <a href="{% url 'salesagent' %}"><button class="btn btn-success">Previous</button></a>
            {% endif %}
        </div>
    </main>
{% endblock %}