{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
    <main>
        <link rel="stylesheet" href="{% static 'stockdetail.css' %}">
        <br><br><br>
        <div>
            <a href="{% url 'sell_item' stock.id %}"><input type="submit" value="Sell Item" style="color: gold;"></a>
            {% if user.is_manager or user.is_manager_2  %}
            <a href="{% url 'update_stock' stock.id %}"><input type="submit" value="Add Quantity" style="color: gold;"></a>
            {% endif %}
        </div>
        <table border="1">
            <thead style="color: gold;">
                <tr>
                    <th>Name of produce</th>
                    <th>Quantity</th>
                    <th>Branch</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ stock.Name_of_produce }}</td>
                    <td>{{ stock.Tonnage_in_kgs }}</td>
                    <td>{{ stock.Branch }}</td>
                    <td>{{ stock.Unit_price }}</td>
                </tr>
            </tbody>
        </table><br>
        {% if user.is_manager or user.is_manager_2 %}
        <a href="{% url 'manager' %}"><button class="btn btn-success">Back</button></a>
        {% endif %}
        {% if user.is_salesagent or user.is_salesagent_2 %}
        <a href="{% url 'salesagent' %}"><button class="btn btn-success">Previous</button></a>
        {% endif %}
    </main>
{% endblock %}