{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '' %}">
<main style="background: linear-gradient(to bottom right, #e8f5e9, #ffffff); margin: 20px;">
    <h1>Credit Details</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name of Buyer</th>
                <th>Nin</th>
                <th>Location</th>
                <th>Amount Due</th>
                <th>Contact</th>
                <th>Sales Agent</th>
                <th>Produce Name</th>
                <th>Due Date</th>
                <th>Produce Type</th>
                <th>Tonnage</th>
                <th>Branch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ creditdetails.Name_of_buyer }}</td>
                <td>{{ creditdetails.Nin }}</td>
                <td>{{ creditdetails.Location }}</td>
                <td>{{ creditdetails.Amount_due }}</td>
                <td>{{ creditdetails.Contact }}</td>
                <td>{{ creditdetails.Sales_agent_name }}</td>
                <td>{{ creditdetails.Produce_name }}</td>
                <td>{{ creditdetails.Due_date }}</td>
                <td>{{ creditdetails.Produce_type }}</td>
                <td>{{ creditdetails.Tonnage }}</td>
                <td>{{ creditdetails.Branch }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        {% if user.is_manager %}
        <a href="{% url 'allsales' %}"><button class="btn btn-success">Back</button></a>
        {% endif %}
        {% if user.is_salesagent %}
        <a href="{% url 'allsales' %}"><button class="btn btn-success">Previous</button></a>
        {% endif %}
    </div>
</main>
{% endblock %}